*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@media (max-width: 600px) {
    .container {
      width: 100%;
    }
    .flex_1
    {
        
        flex-direction: column;
    }
  }
  
  @media (min-width: 601px) {
    .container {
      width: 80%;
    }
    .flex_1
    {
      
        flex-direction: row;
    }
  }
  
h1
{
    padding: 2rem 0px;
}

.startbtn
{
    padding: 0.5rem 1.5rem;
    background-color: chartreuse;
    font-size: 1rem;
    color: black;
    border-radius: 15%;
    display: block;
    margin: 0 auto;
    border: none;
    cursor: pointer;
}

.startbtn:hover
{
    font-weight: bold;
}

.container
{
    margin: 3rem auto;
    display: none;
    background-color: lightgreen;
}

.flex
{
    margin-top: 0.5rem;
    display: flex;
    height: 120px;
    justify-content: center;
    align-items: center;
    column-gap: 3rem;

}
.flex_1
{
    margin-top: 0.5rem;
    height: 120px;
    justify-content: center;
    align-items: center;
    display: flex;
    column-gap: 3rem;

}

.shapes
{
    font-size: 3rem;
    cursor: pointer;
}

.shapes:hover
{
    border: 1px dotted black;
}

.mainscores
{
    padding: 1em 0;
    background-color: lightgreen;
}

.mainsc
{
    margin: 1rem 0;
    text-align: center;
}

.mainsc1
{
    margin: 0 auto;
    padding: 0.5rem 1.3rem;
    background-color: coral;
    font-size: 0.8rem;
    color: black;
    border-radius: 15%;
    display: none;
    cursor: pointer;
    border: none;
}

.mainsc1:hover
{
    font-weight: bold;
}